#proyecto1 {
    background-image: url('assets/logo_bp.jpg');
}

#proyecto2 {
    background-image: url('assets/google.jpg');
}

#proyecto3 {
    background-image: url('assets/portafolio.jpg');
}